/21_Work_Product/24_Coding/02_F411RE_Receiver/Drivers
/21_Work_Product/24_Coding/02_F411RE_Receiver/Debug
/21_Work_Product/26_Integration_Test/01_CAN_TestDataFrame_Generator/Debug
/21_Work_Product/26_Integration_Test/01_CAN_TestDataFrame_Generator/Drivers
/21_Work_Product/24_Coding/01_GUI/__pycache__
